<footer class="footer">
	<div class="requisites">
		<div class="requisites-inner">
			<p><strong>Solcata SA</strong> Rue Agasse 54, 1208 Geneva, Switzerland</p>
			<p>+41 76 5838056, <a href="mailto:info@solcata.com">info@solcata.com</a></p>
		</div>
	</div>
	<div class="language">
		<a href="" class="language-item active">En</a><span>—</span><a href="" class="language-item">Fr</a>
	</div>
	<div class="developers">
		<div class="developers-inner">
			<a href="">Made in <span>Flexmedia</span></a>
		</div>
	</div>
</footer>