<!doctype html>
<html>
<head>
	<title>Index</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, maximum-scale=1">
	
	<link rel="stylesheet" href="css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	
	
	<script src="js/common.js"></script>
</head>
<body class="page-is-changing">
<div class="viewport" id="viewport">
	<div class="viewport-inner" id="out">
		<div class="scroll">
			<header class="header">
				<a href="/" class="logo ajaxtrigger"></a>
				<div class="navigation">
					<div class="navigation__trigger">
						<div>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</header>
			<div class="viewport-section" id="load-content">
				<div class="container" id="container-load">
					<div class="content content-index">
						<div class="kontext-rotator">
							<div class="kontext">
								<div class="layer">
									<div class="image-cover">
										<img src="../img/desktop.jpg" alt="">
									</div>
									<div class="text-container">
										<span>We provide</span>
										<span>commodities</span>
										<span>to the world</span>
									</div>
								</div>
								<div class="layer">
									<div class="image-cover">
										<img src="../img/content.jpg" alt="">
									</div>
									<div class="text-container">
										<span>We provide</span>
										<span>oil & petroleum</span>
										<span>to the world</span>
									</div>
								</div>
								<div class="layer">
									<div class="image-cover">
										<img src="../img/careers/careers.jpg" alt="">
									</div>
									<div class="text-container">
										<span>We provide</span>
										<span>iron ore</span>
										<span>to the world</span>
									</div>
								</div>
							</div>
							<div class="bulets-container">
								<ul class="bullets"></ul>
								<div class="bullets-shadow"></div>
							</div>								
							<script>
								$(function(){
									setTimeout(function(){
										mainRotators();
									},200)
									
								});
							</script>
						</div>
						<footer class="footer">
							<div class="requisites">
								<div class="requisites-inner">
									<p><strong>Solcata SA</strong> Rue Agasse 54, 1208 Geneva, Switzerland</p>
									<p>+41 76 5838056, <a href="mailto:info@solcata.com">info@solcata.com</a></p>
								</div>
							</div>
							<div class="language">
								<a href="" class="language-item active">En</a><span>—</span><a href="" class="language-item">Fr</a>
							</div>
							<div class="developers">
								<div class="developers-inner">
									<a href="">Made in <span>Flexmedia</span></a>
								</div>
							</div>
						</footer>
					</div>
				</div>
				<div class="pageloader" id="pageloader">
					<div data-href="/company/" id="link-page">
						<span>pull up to company</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navigation-area" id="index-nav">
		<div class="navigation-scroll">
			<div class="navigation-content">
				<div class="navigation-layer">
					<div class="navigation-numbers"></div>
					<div class="navigation-list">
						<a href="/" class="navigation-items active ajaxtrigger"><span>Home</span></a>
						<a href="/company/" class="navigation-items ajaxtrigger"><span>Company</span></a>
						<a href="/products/" class="navigation-items ajaxtrigger"><span>Products</span></a>
						<a href="/logistics/" class="navigation-items ajaxtrigger"><span>Logistics</span></a>
						<a href="/media-center/" class="navigation-items ajaxtrigger"><span>Media center</span></a>
						<a href="/contacts/" class="navigation-items ajaxtrigger"><span>Contact us</span></a>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>
<div class="loader-bar">
	<span></span>
	<span></span>
	<span></span>
</div>
<div class="cap">
	<div class="cap-inner">
		<div class="image"></div>
		<p>Please, switch to&nbsp;the&nbsp;desktop version</p>
		<a href="">Switch</a>
	</div>
</div>
<div class="pan-loader" id="pan-loader">
	<span class="container-rotate" id="rotate">
		<svg width="20" height="20">
			<circle class="outer" cx="10" cy="10" r="8" stroke-dashoffset="50" fill="transparent" stroke="#ffffff" stroke-width="3" stroke-dasharray="50" stroke-dashoffset="0" /></svg>
	</span>
</div>
</body>
</html>